.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__party {
  display: flex;
}

.about:not(:last-child) {
  margin-right: 30px;
}
.text__party {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: 168px;
  padding-top: 30px;
  background-color: #ffffff;
  text-align: center;
}
.party__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}
.item__text {
  margin-bottom: 16px;
}
.party-social-list__item {
  width: 44px;
  height: 44px;
  &:not(:first-child) {
    margin-left: 10px;
  }
}
.party-social-list__link {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms linear cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
  &:hover .party-social-icon,
  &:focus .party-social-icon {
    fill: currentColor;
  }
}

.party-social-icon {
  fill: #afb1b8;
  color: #ffffff;
}

.party-social-list {
  display: flex;
  justify-content: center;
}
