.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
// POMENYAT
.client-container {
  margin-top: 94px;
  margin-bottom: 94px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
